/* Record keeping */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7f8c8d;
}

.header h1 {
  margin: 20px 0px;
  color: #f1c40f;
}

.data-item {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-wrp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  max-width: 300px;
  text-align: center;
}

/* Context API */
.context-api {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.context-api1 {
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #dff9fb;
}

.context-api2 {
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #c7ecee;
}

.context-api3 {
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #7ed6df;
}

/* useRef */
.use-ref {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.use-ref input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  margin-bottom: 10px;
}

.use-ref h3 {
  color: #2c3e50;
}

/* useReducer */
.use-reducer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.use-reducer h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.use-reducer button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Custom Hooks */
.custom-hooks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.custom-hooks .wrapper {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  width: 300px;
  text-align: center;
}

/* useMemo */
.useMemo-hooks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.useMemo-hooks button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.useMemo-hooks span {
  font-size: 18px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.useMemo-hooks input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  margin-bottom: 20px;
}

.useMemo-hooks h3 {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  width: 300px;
  text-align: center;
}

/* useCallback */
.useCallback-hooks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.useCallback-hooks button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.useCallback-hooks span {
  font-size: 18px;
  margin-bottom: 20px;
  color: #2c3e50;
}
.useCallback-hooks ul {
  list-style-type: none;
  padding: 0;
}

.useCallback-hooks li {
  margin: 5px 0px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  width: 200px;
  text-align: center;
}
.useCallback-hooks h3 {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  width: 300px;
  text-align: center;
}
.useCallback-hooks hr {
  width: 50%;
  margin: 20px 0px;
  border: 1px solid #bdc3c7;
}
.useCallback-hooks input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* React Redux */
.react-redux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.react-redux .btn-wrp {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.react-redux h2 {
  color: #2c3e50;
}
.react-redux button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Custom Hooks New Video */
.new-custom-hooks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.status-wrp h3 {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  width: 300px;
  text-align: center;
}

.custom-counter-wrp {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  max-width: 300px;
  text-align: center;
}

.custom-counter-wrp h2 {
  color: #2c3e50;
}

.custom-counter-wrp h3 {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  width: 200px;
  text-align: center;
}

.custom-counter-wrp .btn-wrp {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.custom-counter-wrp button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* React Routers */
.headers-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.headers-wrp a {
  /* color: #2980b9; */
  font-size: 24px;
}

.user-card-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.user-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  max-width: 300px;
  text-align: center;
}

.user-card p {
  margin: 5px 0px;
  color: #34495e;
}
